/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #1e3799;
  color: white;
  padding: 40px 0;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.book {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  margin-bottom: 30px;
}

.book img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.book h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.book p {
  font-size: 0.9em;
  margin-bottom: 15px;
}

.book button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #1e3799;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book button:hover {
  background-color: #0c2461;
}